:root {
  /* color */
  --red-color: rgb(216, 23, 23);
  --blue-color: rgb(67, 145, 240);
  --grey-color: rgb(33, 33, 33);
  --darkGrey-color: rgb(48, 48, 48);
  --lightGrey-color: rgb(144, 144, 144);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(25, 25, 25);
  color: white;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  background: none;
}

i {
  cursor: pointer;
  background: none;
  color: white;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--grey-color);
  font-size: 1.35rem;
  padding: 1em;
  font-family: 'Oswald', sans-serif;
}

.header__logo,
.header__search,
.header__icons {
  background-color: var(--grey-color);
}

.header__logo .fa-youtube {
  color: var(--red-color);
}

.header__search {
  display: none;
  align-content: center;
}

.header__search input {
  width: 40rem;
  height: 35px;
  outline: none;
  border: 2px solid var(--darkGrey-color);
  color: var(--lightGrey-color);
  background-color: rgb(20, 20, 20);
  font-size: 1rem;
}

.header__search button {
  width: 5em;
  height: 35px;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(53, 52, 52);
}

.header__search button i {
  color: var(--lightGrey-color);
}

.header__icons i {
  padding-left: 1.5rem;
  font-size: 1.2rem;
}

.header__icons i:hover {
  color: var(--red-color);
}

.header__icons .fa-search {
  visibility: visible;
}

/* Video Player */
.player {
  position: relative;
  padding-bottom: 55%;
}

.player__embed-youtube {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

/* Video info */
.info {
  padding: 0 2rem;
}

/* Video info First box */
.info__main,
.info__channel {
  border-bottom: 1px solid var(--darkGrey-color);
}

.info__main {
  padding-bottom: 1.5rem;
}

.main__top {
  display: flex;
  flex-direction: column;
}

.hashtags {
  color: var(--blue-color);
  font-size: 0.75rem;
}

.title {
  font-size: 1rem;
}

.main__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.views {
  font-size: 0.75rem;
  color: var(--lightGrey-color);
}

.actions {
  display: flex;
}

.action {
  padding-right: 0.5rem;
}

.action__btn {
  display: flex;
  align-items: center;
}

.action__title {
  font-size: 0.5rem;
  color: var(--lightGrey-color);
}

.action__btn i {
  padding-right: 0.3rem;
  font-size: 1rem;
  color: var(--lightGrey-color);
}

.action__btn i:hover {
  color: white;
}

/* Video info Second box */
.info__chnnel {
  display: flex;
  flex-direction: column;
}

.channel {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.channel__link {
  display: flex;
  align-items: center;
}

.channel__img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 1.2rem;
}

.channel__description {
  display: flex;
  flex-direction: column;
}

.channel__name {
  font-size: 1rem;
}

.channel__subscriber {
  font-size: 0.85rem;
  color: var(--lightGrey-color);
}

.channel__subscribe {
  height: 2.5rem;
  background-color: var(--red-color);
  font-size: 0.85rem;
  padding: 0 1.5em;
  border-radius: 5%;
}

.contents {
  padding: 2em 2em 2em 4em;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
}

.contents__hashtags {
  color: var(--blue-color);
}

.contents__title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.contents__moreBtn {
  color: var(--lightGrey-color);
  font-size: 0.9rem;
  text-align: left;
  padding-top: 1em;
}

/* Video Upnext */
.upNext {
  padding: 1.5rem 2.5rem;
  align-items: center;
}

.item {
  display: flex;
  margin: 0 0.3rem 0.25rem 0.3rem;
  cursor: pointer;
}

.item__img {
  flex: 1 1 35%;
}

.item__img img {
  width: 100%;
}

.item__info {
  flex: 1 1 60%;
  padding-left: 0.5rem;
  font-size: 0.75rem;
}

.item__views {
  color: var(--lightGrey-color);
}

.item__moreBtn {
  flex: 1 1 5%;
  height: 100%;
  margin-top: 0.3rem;
  text-align: right;
}

/* PAIandupNext */
.PAIandupNext {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1268px) {
  .PAIandupNext {
    flex-direction: row;
  }

  .playerAndInfo {
    width: 130%;
  }

  .header__icons i {
    font-size: 1.5rem;
  }

  .header__search {
    display: flex;
  }

  .header__icons .fa-search {
    visibility: hidden;
  }

  .hashtags {
    color: var(--blue-color);
    font-size: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .views {
    font-size: 1rem;
  }

  .action {
    padding-right: 1.5rem;
  }

  .action__title {
    font-size: 1rem;
  }

  .action__btn i {
    padding-right: 0.5rem;
    font-size: 1.5rem;
    color: var(--lightGrey-color);
  }

  .channel__name {
    font-size: 1.1rem;
  }

  .channel__subscriber {
    font-size: 0.9rem;
  }

  .channel__subscribe {
    font-size: 1rem;
  }

  .contents {
    font-size: 1.1rem;
  }

  .upNext {
    padding: 2rem 0;
  }

  .item__info {
    font-size: 1rem;
  }

  .item__moreBtn {
    text-align: center;
  }
}
