:root {
  /* color */
  --red-color: rgb(216, 23, 23);
  --blue-color: rgb(67, 145, 240);
  --grey-dark-color: rgb(34, 33, 31);
  --grey-light-color: rgb(155, 151, 151);
  /* font size */
  --font-large: 24px;
  --font-medium: 20px;
  --font-small: 16px;
  /* size */
  --padding: 24px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(20, 20, 20);
  color: white;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  background: none;
}
i {
  cursor: pointer;
  background: none;
  color: white;
}
button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey-dark-color);
  padding: var(--padding);
  font-size: var(--font-large);
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Oswald", sans-serif;
}
header > div {
  background-color: var(--grey-dark-color);
}
header .menuAndlogo .fa-youtube {
  color: var(--red-color);
  margin-left: var(--padding);
}
/* header .search {
    display: flex;
  }
  header .search input,
  header .search input:focus {
    height: 30px;
    outline: none;
    border-color: var(--grey-light-color);
    color: var(--grey-light-color);
  }
  header .search i {
    background-color: rgb(68, 66, 66);
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: var(--font-small);
  } */
header .search {
  display: none;
}
header .icons i {
  padding-left: var(--padding);
}
header .icons i:hover {
  color: var(--red-color);
}

/* Video Player */
.player {
  position: relative;
  padding-bottom: 56.25%;
}
.player .embed-youtube {
  background-color: rgb(20, 20, 20);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--padding);
}
